
  <div class="container">

    <div class="row offset-lg-2">
      <h1 class="border-bottom border-secondary">Cadastro de Unidade</h1>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="saveUnidade()">

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <div class="form-group" [ngClass]="aplicaCssErro('id')">
            <label for="id">Id</label>

            <div class="input-group">
              <input type="text" class="form-control bg-info" id="id" formControlName="id" readonly />
              <div class="input-group-apend">
                <button type="submit" class="nav-item btn btn-primary" [disabled]="formulario.invalid" title="Salvar unidade"><i class="fas fa-save"></i></button>
              </div>
            </div>
            <form-erro-view [mostrarErro]="isFieldInvalid('id')"
                            msgErro="Id é obrigatório">
            </form-erro-view>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <div class="form-group" [ngClass]="aplicaCssErro('nome')">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Digite o nome da unidade" />
            <form-erro-view [mostrarErro]="isFieldInvalid('nome')"
                            msgErro="Nome da unidade é obrigatório">
            </form-erro-view>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12 col-lg-8 offset-lg-2" [ngClass]="aplicaCssErro('codigo')">
          <label for="codigo">Código Preferencial:</label>
          <div class="input-group">
            <input type="text" class="form-control bg-info" id="codigo" formControlName="codigo" readonly placeholder="Selecione um código como principal" />
            <div class="input-group-apend">
              <button class="btn btn-primary" type="button" (click)="newCodigo()"
                      [disabled]="codigos.length >0 && codigos.invalid" title="Adicionar novo código">
                <i class="fas fa-plus-circle"></i>
              </button>
            </div>
          </div>
          <form-erro-view [mostrarErro]="isFieldInvalid('codigo')"
                          msgErro="Selecione um código preferencial para a unidade">
          </form-erro-view>
        </div>


      </div>

      <div formArrayName="codigos" [ngClass]="aplicaCssErro('codigos')">

        <div *ngFor="let codigo of codigos.controls; index as i" class="row mb-3">

          <div class="col-10 col-lg-8 offset-lg-2">
            <input [formControlName]="i" placeholder="Digite o novo código" class="form-control" [id]="'codigo' + i">
          </div>

          <div class="col-2">
            <a href="#" title="Selecionar código preferencial" data-toggle="tooltip" (click)="setCodigoPreferencial(i)">
              <i class="fas fa-check-square text-success mr-3"> </i>
            </a>

            <a href="#" title="Deletar o código" data-toggle="tooltip" (click)="deleteCodigo(i)">
              <i class="fas fa-trash text-danger"></i>
            </a>
          </div>
        </div>

        <form-erro-view [mostrarErro]="isFieldInvalid('codigos')"
                        msgErro="Todo código da unidade deve ter no máximo 8 letras,não pode estar vazio e ser único"
                        class="row col-lg-8 offset-lg-2 pl-lg-1"
                        *ngIf="codigos.length>0">
        </form-erro-view>
      </div>

    </form>
    <form-debug [form]="formulario"></form-debug>
  </div>

  










